ADMIN_USERNAME=
ADMIN_PASSWORD=
ADMIN_TOKEN_SECRET=
ADMIN_PASSWORD_HASH=
ALPHA_VANTAGE_API_KEY=3SDPC3TPAPDU1D4P
COMMODITIES_API_KEY=
IG_API_KEY=
IG_USERNAME=
IG_PASSWORD=
IG_ACCOUNT_ID=
IG_API_BASE=https://api.ig.com/gateway/deal
IG_EPIC_BRENT=
IG_EPIC_WTI=
IG_EPIC_NATURAL_GAS=
IG_EPIC_HEATING_OIL=
IG_EPIC_GASOLINE=
VITE_SITE_LAST_PUBLISHED_AT=
