node_modules
dist
.DS_Store
.config/
.local/
openJdk-*.jdk/
server/public
vite.config.ts.*
*.tar.gz
.env*
.flaskenv*
!.env.project
!.env.vault
.vercel
.env*.local
ADMIN_USERNAME=Remiz
ADMIN_PASSWORD=Remiz123312
ADMIN_TOKEN_SECRET=vcp_5HhrePXt2odVKF9bdoTr34nvxo7oQcqGu4DqqGLn68teIrWi371OWrF2
!.env.example
